html {
    height: 100vh;
}
body {
    text-align: center;
    margin: 0;
}
header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50px;
    text-align: left;
    background-color: forestgreen;
    color: white;
}
h1 {
    height: 40px;
    width: 153px;
    box-sizing: border-box;
}
.box {
    display: inline-flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-2 {
    text-align: center;
}
.kotak {
    width: 440px;
}

.kotak_picked {
    background-color: aqua;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.tengah {
    position: absolute;
    right: 43%;
    top: 48%;
    text-align: center;
    background-color: white;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
}

img {
    width: 60px;
    height: 100px;
    margin-top: 30px;
    box-sizing: border-box;
}
img#btnReset {
    width: 80px;
    height: 70px;
}

img.suit_com {
    margin-left: auto;
}

h1.h1-tengah {
    margin: 0 auto;
}

.kotak.kiri {
    border-right: 1px solid black;
    background-color: brown;
}
.status {
    border-bottom: 1px solid;
    font-family: 'Press Start 2P', cursive;
}

.container {
    width: 100%;
    height: 92%;
    background: url(https://eljohnnews.com/wp-content/uploads/2020/07/game.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50px;
}

.box-2 {
    position: absolute;
    bottom: 50px;
    left: 634px;
    height: 50px;
    width: 100px;
}

img#btnReset {
    width: 44px;
    height: 38px;
    margin-top: 13px;
}

.box {
    height: 92%;
    padding: 5px;
    background: azure;
    border-radius: 5px;
    margin-top: 12px;
}

.back {
    margin: 0;
    width: 50px;
    height: 50px;
    transform: scaleX(-1);
}
/* */
.kotak > img {
    display: block;
    width: 120px;
    height: 120px;
    padding: 20px;
    z-index: -1;
    margin: 22px auto 0 auto;
}

.kiri > .status {
    color: white;
}

.kanan >.status {
    color: brown;
}

img.suit_player:hover {transform: rotate(45deg);}

img#btnReset:hover {
    transform: scale(1.5);
}